{% extends 'layout.html.twig' %}

{% block content %}
  <div class="virtual-good">
    <h3>Товар "Лучший подарок" Цена 100 руб</h3>
    <p>
      <a href="{{ app.urlFor('checkout') }}?price=10000" class="btn btn-success" >
      Купить "Лучший подарок за 100 руб"
      </a>
    </p>
  </div>
{% endblock content %}
